<?xml version="1.0" encoding="utf-8" ?>

     
<!--' '*******************************************************************************************
' Copyright © 2016 Scott Bailey 
' 17351 W US 60 Olive Hill, KY 41164 
' rscottb31@gmail.com
' All Rights Reserved Worldwide.

'  NOTICE:  All information contained herein is, and remains
' the property of the above proprietor Scott Bailey. The intellectual 
' and technical concepts contained herein are proprietary to the above
' stated and may be covered by U.S. and Foreign Patents, patents in process, 
' and are protected by trade secret or copyright law.
' Dissemination of this information or reproduction of this material
' is strictly forbidden unless prior written permission is obtained
' from the above stated.

' Unless otherwise stated all code is written by Scott Bailey <rscottb31@gmail.com>
'******************************************************************************************* '-->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordofGodBibleProjector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <WordofGodBibleProjector.My.MySettings>
            <setting name="RefAlign" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Verdana, 35pt</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NumberVerseSpacing" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="MarginsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginsRight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MarginsTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginsBottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Use3DRendering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="ShadowOffsetX" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="OutlineSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SpaceBelowRef" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShadowOffsetY" serializeAs="String">
                <value>6</value>
            </setting>
        </WordofGodBibleProjector.My.MySettings>
    </userSettings>
</configuration>